{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column">
        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                    welcome to <strong>yolp</strong>! 
                </h1>
                <h2 class="subtitle">
                    yelp for students on college campuses. 
                </h2>
              </div>
            </div>
        </section>

        </br>

        <div class="buttons has-addons is-centered">
            <a href="/login" 
                class="button is-primary">
                login
            </a>

            <a href="/register" 
                class="button">
                register
            </a>
        </div>

    </div>
    <div class="column is-one-quarter"></div>
  </div>
{% endblock %}