<style>
    html * {
      font-family: 'Avenir';
      font-weight: 400;
    }
  </style>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>yolp</title>
      <!-- bulma -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <!-- mapbox -->
      <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body>
      <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="https://i.imgur.com/19NuyTq.png">
            </a>
  
            {% if user.is_authenticated %}
              {% if user.student %}
                <div class="navbar-menu">
                  <div class="navbar-start">
                    <div class="navbar-item">
                      <a class="navbar-item" href="/student_home">
                        <strong>
                          Student Home
                        </strong>
                      </a>
                    </div>
      
                    <div class="navbar-item">
                      <a class="navbar-item" href="{% url 'student_profile' user.username %}">
                        <strong>
                          Profile
                        </strong>
                      </a>
                    </div>

                    <div class="navbar-item">
                      <a class="navbar-item" href="/view_locations">
                        <strong>
                          Browse
                        </strong>
                      </a>
                    </div>

                    <div class="navbar-item">
                      <div class="navbar-item">
                        <div class="buttons">
                          <a class="button is-warning" id="newpost_button">
                            <strong>New Review</strong>
                          </a>
                        </div>
                      </div>
                    </div>

                  </div>
                  
              {% else %}
                <div class="navbar-menu">
                  <div class="navbar-start">
                    <div class="navbar-item">
                      <a class="navbar-item" href="/restaurant_home">
                        <strong>
                          Restaurant Home
                        </strong>
                      </a>
                    </div>
      
                    <div class="navbar-item">
                      <a class="navbar-item" href="{% url 'admin_profile' user.username %}">
                        <strong>
                          Profile
                        </strong>
                      </a>
                    </div>

                    <div class="navbar-item">
                      <a class="navbar-item" href="/view_locations">
                        <strong>
                          Browse
                        </strong>
                      </a>
                    </div>

                  </div>
                  
                 
              {% endif %}

               <!-- TODO: make this appear at the end -->
               <div class="navbar-end">
                <div class="navbar-item">
                  <div class=buttons>
                    <a class="button is-light" href="/logout_view/"><strong>Logout</strong></a>
                  </div>
                </div>
                
                
                <!-- <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" id="newpost_button">
                      <strong>new post</strong>
                    </a>
                  </div>
                </div> -->
              </div>
            </div>
            
          {% endif %}
        
            <!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a> -->
          </div>
        
          <!-- <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary">
                    <strong>sign up</strong>
                  </a>
                  <a class="button is-light">
                    log in
                  </a>
                </div>
              </div>
            </div>
          </div> -->
        </nav>
  
        <!-- new post modal -->
        <div class="modal" id="newpost_modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">New Review</p>
              <button class="delete" aria-label="close" id="newpost_close_modal"></button>
            </header>
            <section class="modal-card-body">
              <form method="POST" action="/new_review/">
                {% csrf_token %}
                  <div class="field">
                    <label class="label">Title <a style="color: red">*</a></label>
                    <div class="control">
                      <input name="review_title" class="input" placeholder="eg. Distrito Overall">
                    </div>
                  </div>

                  <!-- <div class="field">
                    <label class="label">Restaurant <a style="color: red">*</a></label>
                    <div class="control">
                      <input name="restaurant" class="input" placeholder="eg. Distrito">
                    </div>
                  </div> -->

                  <div class="field">
                    <label class="label">Restaurant</label>
                    <div class="control">
                        <div class="select" name="restaurant">
                        <select name="restaurant">
                            {% for restaurant in restaurants %}
                            <option value="{{ restaurant.restaurant_name }}">{{ restaurant.restaurant_name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Photo</label>
                    <div class="control">
                      <input name="review_photo" class="input" placeholder="eg. https://google.com">
                    </div>
                  </div>

                  <div class="field">
                      <label class="label">Content <a style="color: red">*</a></label>
                      <div class="control">
                        <input name="review_body" class="textarea" placeholder="e.g. I think Distrito is a really cool non-profit!">
                      </div>
                  </div>
                  <div class="buttons has-addons is-centered">
                    <input type="submit" value="Post Review" class="button is-warning" style="font-family: Avenir; font-weight: 600"></input>
                  </div>
              </form>
              <p><a style="color: red">*</a> Required Fields</p>
            </section>
          </div>
        </div>
  
        {% block content %}
  
        {% endblock %}
    </body>
  
    <script>
      // new post modal
      var modal = document.getElementById("newpost_modal")
      var button = document.getElementById("newpost_button")
      var close_modal = document.getElementById("newpost_close_modal")
    
      button.onclick = function() {
        modal.style.display="flex";
      }
    
      close_modal.onclick = function() {
        modal.style.display="none";
      }
    </script>
  
  </html>