{% extends 'base.html' %}

{% block content %}

<section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Viewing all restaurants for University of Pennsylvania
        </h1>
        <h2 class="subtitle">
          Click on each restaurant for more information.
        </h2>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <br>
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Distrito</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">View</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Distrito</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">View</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Distrito</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">View</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Distrito</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">View</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Distrito</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">View</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Distrito</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">View</button>
                 </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}