{% extends 'base.html' %}

{% block content %}

<section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            {{ restaurant.restaurant_name }}
        </h1>
        <h2 class="subtitle">
            {{ restaurant.school}} // <strong>{{ restaurant.price }}</strong>
        </h2>
        {% if user.student %}
            {% if request.user not in restaurant.followed_by.all %}
            <form method="POST" action="/follow/">
                {% csrf_token %}
                <div class="buttons">
                    <button class="button is-light" style="font-family: Avenir" type="submit" name='follow' value='{{ restaurant.restaurant_name }}'>
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                        </span>
                        <strong>Follow</strong>
                    </button>
                </div>
            </form>
            {% else %}
            <form method="POST" action="/follow/">
                {% csrf_token %}
                <div class="buttons">
                    <button class="button is-dark" style="font-family: Avenir" type="submit" name='unfollow' value='{{ restaurant.restaurant_name }}'>
                        <span class="icon">
                            <i class="fa fa-minus"></i>
                        </span>
                        <strong>Unfollow</strong>
                    </button>
                </div>
            </form>
            {% endif %}
        {% endif %}
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-one-quarter">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">About</h2>
                <h3 class="subtitle is-5">Learn more about {{ restaurant.restaurant_name }}</h3>
                {% if restaurant.picture_is_not_null %}
                <figure class="image">
                    <img src="{{ restaurant.picture }}">
                </figure>
                {% endif %}
                <br>

                <div class="buttons are-small">
                    {% for category in categories %}
                    <a class="button is-dark" href="{% url 'category' category.id %}">{{ category.name }}</a>
                    {% endfor %}
                    <!-- <a class="button is-dark">Happy Hour</a> -->
                </div>
                    
                <div class="notification is-light">
                    Price Range: <strong>{{ restaurant.price }}</strong>
                    <p></p>
                    {{ restaurant.address }}
                </div>
                <div class="notification is-warning">
                    {{ restaurant.description }}
                </div>

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Reviews</h2>
                <h3 class="subtitle is-5">Read recent reviews on {{ restaurant.restaurant_name }}.</h3>

                <!-- <button class="button is-fullwidth is-warning" style="font-family: Avenir"><strong>Write Review</strong></button>
                <br> -->

                {% for review in reviews %}

                <div class="card">
                    {% if review.picture_is_not_null %}
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ review.picture }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ review.get_user_picture }}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ review.get_name }}</p>
                                <p class="subtitle is-6"><a href="{% url 'student_profile' review.get_username %}">@{{ review.get_username }}</a></p>
                            </div>
                        </div>
                        
                        <div class="content">
                            <h3>{{ review.title }} <a style="color: #ffc21c" href="{% url 'restaurant' review.get_restaurant_url %}">@ {{ review.get_restaurant_name }}</a></h3>
                        </div>

                        <div class="content">
                            {{ review.body }}
                            <br></br>
                            <time datetime="2016-1-1" style="font-size: 12px;">{{ review.time }}</time>
                        </div>
                    </div>
                </div>

                <br>

                {% endfor %}

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}