{% extends 'base.html' %}

{% block content %}
<section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Welcome to Yolp! 🍳
        </h1>
        <h2 class="subtitle">
            Food reviews by students for students on campus restaurants.
        </h2>
      </div>
    </div>
</section>
<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        </br>

        <div class="buttons has-addons is-centered">
            <a href="/student_login" 
                class="button is-warning">
                <strong>Login as Student</strong>
            </a>

            <a href="/restaurant_login" 
                class="button is-light">
                <strong>Login as Restaurant</strong>
            </a>
        </div>

    </div>
    <div class="column is-one-fifth"></div>
  </div>
{% endblock %}