{% extends 'base.html' %}

{% block content %}

<section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Browse Restaurants
        </h1>
        <h2 class="subtitle">
          Browse and view all restaurants by school.
        </h2>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <br>
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>University of Pennsylvania</strong>
                    <p>2 restaurants</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">Browse</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>Drexel University</strong>
                    <p>2 restaurants</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">Browse</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>University of California, Berkeley</strong>
                    <p>2 restaurants</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">Browse</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>University of British Columbia</strong>
                    <p>2 restaurants</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">Browse</button>
                 </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-light">
                    <strong>University of Toronto</strong>
                    <p>2 restaurants</p>
                    <br>
                    <button class="button is-small is-dark is-fullwidth">Browse</button>
                 </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}