{% extends 'base.html' %}

{% block content %}

<section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome back, {{ student.name }}!
        </h1>
        <h2 class="subtitle">
          Here are your most recent Yolp updates.
        </h2>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Activity from Restaurants You Follow</h2>
                <h3 class="subtitle is-5">Keep updated on reviews.</h3>

                {% for review in reviews %}

                <div class="card">
                    {% if review.picture_is_not_null %}
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ review.picture }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ review.get_user_picture }}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ review.get_name }}</p>
                                <p class="subtitle is-6"><a href="{% url 'student_profile' review.get_username %}">@{{ review.get_username }}</a></p>
                            </div>
                        </div>
                        
                        <div class="content">
                            <h3>{{ review.title }} <a style="color: #ffc21c" href="{% url 'restaurant' review.get_restaurant_url %}">@ {{ review.get_restaurant_name }}</a></h3>
                        </div>

                        <div class="content">
                            {{ review.body }}
                            <br></br>
                            <time datetime="2016-1-1" style="font-size: 12px;">{{ review.time }}</time>
                        </div>
                    </div>
                </div>

                <br>

                {% endfor %}

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Restaurants Near You</h2>
                <h3 class="subtitle is-5">Find restaurants near your location.</h3>
                <div id='map' style='width: auto; height: 300px;'></div>
                <script>
                    // var x_coord = '{{ restaurant.x_coord }}';
                    // var y_coord = '{{ restaurant.y_coord }}';
                    mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fyb2xqbGkiLCJhIjoiY2s5eWk2dTNiMDUzcTNtbzYya2RnOGtzbyJ9.DEmWB41X38OECo7s_GfAFQ';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        // center: [ y_coord, x_coord ],
                        zoom: 9
                    });

                    // var marker = new mapboxgl.Marker()
                    //     .setLngLat([ y_coord, x_coord ])
                    //     .addTo(map);
                        
                </script>
                

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}