{% extends 'base.html' %}

{% block content %}

<section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ student.name }}
        </h1>
        <h2 class="subtitle">
          @{{ user.username }}
        </h2>
        <!-- TODO: potential edit feature -->
        <!-- <button class="button is-light" style="font-family: Avenir"><strong>Follow</strong></button> -->
        <!-- <button class="button is-warning is-light" style="font-family: Avenir"><strong>Edit Profile</strong></button> -->
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-one-quarter">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">About {{ student.name }}</h2>
                <h3 class="subtitle is-5">{{ student.school }}</h3>
                {% if student.picture_is_not_null %}
                <figure class="image">
                    <img src="{{ student.picture }}">
                </figure>
                {% endif %}
                <br>

                <div class="notification is-light">
                  {{ student.bio }}
                </div>

                <h2 class="title is-5">Restaurants {{ student.name }} Follows</h2>

                {% for follow in follows %}

                <div class="notification is-warning">
                    <strong>{{ follow.get_restaurant_name }}</strong>
                    <p>{{ follow.get_restaurant_school }} // {{ follow.get_restaurant_price }}</p>
                </div>
<!-- 
                <div class="notification is-warning">
                    <strong>Pelicana</strong>
                    <p>University of Pennsylvania // $$</p>
                    <br>
                    <button class="button is-small is-light is-warning is-fullwidth">View</button>
                </div> -->

                {% endfor %}

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Recent Activity</h2>
                <h3 class="subtitle is-5">Read Carol's recent reviews.</h3>
<!-- 
                <button class="button is-fullwidth is-warning" style="font-family: Avenir"><strong>Write Review</strong></button>
                <br> -->

                {% for review in reviews %}

                <div class="card">
                    {% if review.picture_is_not_null %}
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ review.picture }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ review.get_user_picture }}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ review.get_name }}</p>
                                <p class="subtitle is-6"><a href="{% url 'student_profile' review.get_username %}">@{{ review.get_username }}</a></p>
                            </div>
                        </div>
                        
                        <div class="content">
                            <h3>{{ review.title }} <a style="color: #ffc21c" href="{% url 'restaurant' review.get_restaurant_url %}">@ {{ review.get_restaurant_name }}</a></h3>
                        </div>

                        <div class="content">
                            {{ review.body }}
                            <br></br>
                            <time datetime="2016-1-1" style="font-size: 12px;">{{ review.time }}</time>
                        </div>
                    </div>
                </div>

                <br>

                {% endfor %}

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}