{% extends 'base.html' %}

{% block content %}

<section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ rest_admin.name }}
        </h1>
        <h2 class="subtitle">
          Restaurant Admin
        </h2>
        <!-- TODO: potential edit feature -->
        <!-- <button class="button is-light" style="font-family: Avenir"><strong>Follow</strong></button> -->
        <button class="button is-warning is-light" style="font-family: Avenir"><strong>Edit Profile</strong></button>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-one-quarter">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">About {{ rest_admin.name }}</h2>
                <h3 class="subtitle is-5">@{{ user.username }}</h3>
                <figure class="image">
                    <img src="https://i.pinimg.com/originals/f0/5e/ba/f05eba7018d18db1655caf73a980f62d.jpg">
                </figure>
                <br>

                <div class="notification is-light">
                   {{ rest_admin.bio }}
                </div>

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Restaurants Howard Manages</h2>
                <h3 class="subtitle is-5">View his Yolp content.</h3>

                {% for restaurant in restaurants %}

                <div class="notification is-warning">
                    <strong>{{ restaurant.restaurant_name }}</strong>
                    <p>{{ restaurant.school }} // {{ restaurant.price }}</p>
                    <br>
                    <a class="button is-small is-light is-warning is-fullwidth" href="{% url 'restaurant' restaurant.restaurant_name %}">View</a>
                    
                </div>

                {% endfor %}

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}