{% extends 'base.html' %}

{% block content %}

<section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome back, {{ rest_admin.name }} 🍳!
        </h1>
        <h2 class="subtitle">
          View and manage your restaurant activity.
        </h2>
        <!-- <a class="button is-dark"><strong>Edit Profile</strong></a> -->
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Restaurant Activity</h2>
                <h3 class="subtitle is-5">Recent reviews to your restaurants.</h3>

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>
                  
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Actions</h2>
                <h3 class="subtitle is-5">Manage your restaurant pages.</h3>

                <div class="notification is-warning">
                    <p class="title is-5">Distrito</p>
                    <p class="subtitle is-5">23 reviews</p>
                    <a class="button is-small is-light is-warning href="/browse">View</a>
                    <a class="button is-small is-dark href="/browse">Edit</a>
                 </div>

                 <div class="notification is-warning">
                    <p class="title is-5">Pelicana</p>
                    <p class="subtitle is-5">12 reviews</p>
                    <a class="button is-small is-light is-warning href="/browse">View</a>
                    <a class="button is-small is-dark href="/browse">Edit</a>
                 </div>

                 <button class="button is-fullwidth is-light" id="newrest_button"><strong>Add New Restaurant</strong></button>

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>

</div>

<!-- new restaurant modal -->
<div class="modal" id="newrest_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Add New Restaurant</p>
        <button class="delete" aria-label="close" id="newrest_close_modal"></button>
        </header>
        <section class="modal-card-body">
        <form method="POST" action="/newpost/">
            {% csrf_token %}
            <div class="field">
                <label class="label">Restaurant Name</label>
                <div class="control">
                    <input name="restaurant_name" class="input" placeholder="eg. Distrito">
                </div>
            </div>

            <div class="field">
                <label class="label">School</label>
                <div class="control">
                    <input name="school" class="input" placeholder="eg. University of Pennsylvania">
                </div>
            </div>
                
            <div class="field">
                <label class="label">Address</label>
                <div class="control">
                    <input name="address" class="input" placeholder="eg. 40th and Chestnut">
                </div>
            </div>

            <div class="field">
                <label class="label">Price Range</label>
                <div class="control">
                    <div class="select" name="price">
                    <select>
                        <option>$</option>
                        <option>$$</option>
                        <option>$$$</option>
                        <option>$$$$</option>
                    </select>
                    </div>
                </div>
            </div>
                
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea name="description" class="textarea" placeholder="eg. A non-profit!"></textarea>
                </div>
            </div>

            <div class="buttons has-addons is-centered">
                <input type="submit" value="Create Restaurant" class="button is-warning"></input>
            </div>
            
        </form>
        </section>
    </div>
</div>

<script>
    // new restaurant modal
    var modal = document.getElementById("newrest_modal")
    var button = document.getElementById("newrest_button")
    var close_modal = document.getElementById("newrest_close_modal")
  
    button.onclick = function() {
      modal.style.display="flex";
    }
  
    close_modal.onclick = function() {
      modal.style.display="none";
    }
  </script>

{% endblock %}